.contact__container {
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 35rem;
  margin: 7rem auto;
  border-radius: 1rem;
  margin: 100px 200px;
}

/* *********** ASIDE *********** */

.contact__aside {
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 4rem;
  height: 35rem;
}
/* .contact__icons {
  margin-bottom: 0.4rem;
} */
.aside__image {
  position: relative;
}

.aside__image img {
  width: 300px;
}

.contact__aside h2 {
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

/* .contact__details li {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
} */

.contact__socials {
  display: flex;
  gap: 0.8rem;
  margin-top: 3rem;
  transition: var(--transition);
  margin: 12px;
  list-style-type: none;
  background: var(--color-primary);
}

.contact__socials a {
  background: var(--color-white);
  color: black;
  padding: 0.5rem;
  border-radius: 5%;
  font-size: 1.2rem;
  transition: var(--transition);
}

.contact__socials a:hover {
  background: transparent;
  color: var(--color-white);
}

/* *********** FORM *********** */

.form__name {
  display: flex;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

::placeholder {
  color: lightgray;
}
