footer {
  background: var(--color-bg1);
  padding-top: 1rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-left: 180px;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.img_logo {
  margin-top: 3rem;
  width: 300px;
}
.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-white);
}

.footer__socials {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-decoration: none;
  list-style: none;
}

.footer__socials a:hover {
  color: gray;
  transition: var(--transition);
}

.footer__copyright {
  text-align: center;
  margin-top: 1rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}

.site_title {
  text-decoration: none;
}

.site_title:hover {
  text-decoration: none;
  color: gray;
  transition: var(--transition);
}

.permalinks {
  text-decoration: none;
}
.permalinks a:hover {
  text-decoration: none;
  transition: var(--transition);
}

.footer__2 h4 {
  margin-left: 28px;
}

.footer__3 {
  padding-right: 10px;
}

footer a {
  color: var(--color-white);
}
